# Crm Hub 360 - copiar a .env (bin/crmhub init lo genera con secretos aleatorios)
BASE_DOMAIN=digitalalliancehub.site
DEV_HOST=dev-crm.${BASE_DOMAIN}
PROD_HOST=crm.${BASE_DOMAIN}
CERTBOT_EMAIL=strauss@intelibpo.com

PG_ADMIN_USER=crmhub_admin
PG_ADMIN_PASSWORD=change-me
PG_MASTER_DB=crmhub_master
PG_HOST_PORT=54330

HUB_BIND_HOST=172.28.0.1
HUB_PORT=8190
HUB_ADMIN_TOKEN=change-me

OLLAMA_URL=http://127.0.0.1:11434
OLLAMA_MODEL=llama3.1:8b
OLLAMA_TIMEOUT=600

# Centro de control (bin/crmhub control:install genera los valores que faltan)
CONTROL_HOST=control.${BASE_DOMAIN}
CONTROL_PORT=8195
CONTROL_USER=superadmin
